
.button {

  position: relative;
  width: 200px;
  margin-top: 17px;
  margin-left: 30px;
  padding: 15px 10px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: $basic-white;
  background-color: $special-light_mint;
  outline: transparent;
  border: transparent;
  border-radius: 60px;
  box-sizing: border-box;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;

  &:hover {
    background-color: $special-mint;
  }

  &:focus {

    background-color: $special-mint;
  }

  &:active {

    background-color: $special-mint;
  }
}

.button--back-to-top {

  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  padding: 18px 18px;
  border-radius: 50%;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  z-index: 1000;
}

.show {
  opacity: 0.5;
  visibility: visible;
}
