.contact-list {

  padding-left: 0;
}

.contact-list__item {
  list-style-type: none;
  font-family: "Montserrat";

  b {
    font-weight: 700;
  }
}

.contact-list__link {

  color: $basic-white;

  &:hover {

    color: $basic-white;
    opacity: 50%;
  }

  &:focus {

    color: $basic-white;
    opacity: 50%;
  }

  &:active {

    color: $basic-white;
    opacity: 50%;
  }

  &:visited {
    color: $basic-light_grey;
  }
}
