
.part__text {
  position: relative;
  margin-bottom: 50px;
  padding: 0 25px;
  column-width: 250px;
  column-count: 3;
  column-gap: 32px;
  column-rule: 1pt dotted $special-light_mint;
  order: 1;

  @media (min-width: $sm-tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $mid-tablet-width) {
    column-width: 190px;
    padding: 0 0;
  }

  @media (min-width: $tablet-width) {

    column-width: 200px;
  }

  @media (min-width: $xs-desktop-width) {

    column-width: 230px;
  }

  @media (min-width: $mid-tablet-width) and (max-width: $sm-desktop-width-only) {

    margin: 25px 40px 50px 40px;
  }

  @media (min-width: 900px) and (max-width: $sm-desktop-width-only) {

    column-width: 250px;
  }

  @media (min-width: $sm-desktop-width) {
    padding: 0 25px;
  }
}
