.portrait {

  @media (min-width: $mobile-width) and (max-width: $sm-desktop-width-only) {

    justify-content: center;
    width: 100%;
    order: 1
  }

  @media (min-width: $portrait-width) and (max-width:  $sm-desktop-width-only) {

    display: none;
  }

  @media (min-width: $sm-desktop-width) {

    display: flex;
  }
}

.portrait__img {

  @media (min-width: $tablet-width) {

    width: 370px;
    height: 354px;
    margin-bottom: 0;
    object-fit: contain;
  }
}
