/*normalize*/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*Typography*/
@font-face {
  font-family: "E-Ukraine";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/e-Ukraine-Regular.eot");
  src: local("E-Ukraine"), local("Eukraine"), url("../fonts/e-Ukraine-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/e-Ukraine-Regular.woff2") format("woff2"), url("../fonts/e-Ukraine-Regular.woff") format("woff"), url("../fonts/e-Ukraine-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "E-Ukraine";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/e-Ukraine-Light.eot");
  src: local("E-Ukraine Light"), local("Eukrainelight"), url("../fonts/e-Ukraine-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/e-Ukraine-Light.woff2") format("woff2"), url("../fonts/e-Ukraine-Light.woff") format("woff"), url("../fonts/e-Ukraine-Light.ttf") format("truetype");
}
@font-face {
  font-family: "E-Ukraine";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/e-Ukraine-Bold.eot");
  src: local("E-Ukraine Bold"), local("Eukrainebold"), url("../fonts/e-Ukraine-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/e-Ukraine-Bold.woff2") format("woff2"), url("../fonts/e-Ukraine-Bold.woff") format("woff"), url("../fonts/e-Ukraine-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-300.eot");
  src: local("Montserrat Light"), local("Montserratlight"), url("../fonts/montserrat-300.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-300.woff2") format("woff2"), url("../fonts/montserrat-300.woff") format("woff"), url("../fonts/montserrat-300.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-700.eot");
  src: local("Montserrat Bold"), local("Montserratbold"), url("../fonts/montserrat-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-700.woff2") format("woff2"), url("../fonts/montserrat-700.woff") format("woff"), url("../fonts/montserrat-700.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/montserrat-300italic.eot");
  src: local("Montserrat Italic"), local("Montserratitalic"), url("../fonts/montserrat-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-300italic.woff2") format("woff2"), url("../fonts/montserrat-300italic.woff") format("woff"), url("../fonts/montserrat-300italic.ttf") format("truetype");
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p {
  margin: 0;
  text-indent: 1.75em;
}

a {
  color: #79a8b0;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
a:hover {
  color: #1aa985;
}
a:focus {
  color: #1aa985;
  opacity: 100%;
}
a:active {
  color: #1aa985;
  opacity: 50%;
}

button {
  border: none;
  background-color: transparent;
}

ul {
  margin: 0;
  padding: 0;
}

em {
  font-family: "Montserrat";
  font-size: 1.1em;
  font-style: italic;
  font-weight: 300;
}

.page__body {
  display: block;
  color: #595959;
  font-family: "E-Ukraine", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 300;
  background-color: #F5F7FA;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
@media (min-width: 993px) {
  .page__wrapper {
    width: 90%;
    margin: 40px auto;
    flex-direction: row-reverse;
  }
}

@media (min-width: 993px) {
  .content--inner {
    margin: 0 auto;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .content--inner {
    margin: 0 auto;
    flex-direction: column;
  }
}

.part__introduce {
  margin-top: 30px;
}

.part--about {
  padding-left: 1.76rem;
  padding-right: 1.76rem;
  padding-bottom: 2.14rem;
  background-color: #FFFFFF;
}
@media (min-width: 520px) {
  .part--about {
    padding: 3.57rem 2.86rem;
  }
}
@media (min-width: 993px) {
  .part--about {
    flex-basis: 70%;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

.part--inner {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 520px) {
  .part--inner {
    padding-left: 3.93rem;
    padding-right: 3.93rem;
  }
}

.part--bio {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  background-color: #79a8b0;
  padding-top: 2.86rem;
}
@media (min-width: 370px) and (max-width: 992px) {
  .part--bio {
    flex-direction: row;
    flex-shrink: 1;
    flex-wrap: wrap;
    padding-top: 20px;
  }
}
@media (min-width: 993px) {
  .part--bio {
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 40px 0 100px 0;
    background-image: linear-gradient(#FFFFFF 9%, #79a8b0 9%, #79a8b0 100%);
  }
}

@media (min-width: 993px) {
  .part--bio.part--inner-footer {
    width: 100%;
    padding: 20px 0 0 0;
    background-image: none;
  }
}
.part--bio.part--inner-footer .part__picture {
  display: none;
}

.part__info {
  width: 240px;
  padding-left: 40px;
  order: 4;
}
@media (min-width: 768px) {
  .part__info {
    width: 280px;
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .part__info {
    padding-left: 30px;
    width: 220px;
  }
}
.part__info:last-child {
  padding-bottom: 40px;
}

.part__text {
  position: relative;
  margin-bottom: 3.57rem;
  padding: 0 25px;
  -moz-column-width: 250px;
       column-width: 250px;
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 32px;
       column-gap: 32px;
  -moz-column-rule: 1pt dotted #9cebd5;
       column-rule: 1pt dotted #9cebd5;
  order: 1;
}
@media (min-width: 520px) {
  .part__text {
    padding: 0 2.86rem;
  }
}
@media (min-width: 700px) {
  .part__text {
    -moz-column-width: 190px;
         column-width: 190px;
    padding: 0 0;
  }
}
@media (min-width: 768px) {
  .part__text {
    -moz-column-width: 200px;
         column-width: 200px;
  }
}
@media (min-width: 820px) {
  .part__text {
    -moz-column-width: 250px;
         column-width: 250px;
  }
}
@media (min-width: 700px) and (max-width: 993px) {
  .part__text {
    margin: 25px auto 50px auto;
  }
}
@media (min-width: 900px) and (max-width: 992px) {
  .part__text {
    -moz-column-width: 250px;
         column-width: 250px;
  }
}
@media (min-width: 993px) {
  .part__text {
    padding: 0 1.78rem;
  }
}

@media (min-width: 993px) {
  .part--inner-text {
    padding: 0 3.93rem;
  }
}
@media (min-width: 1200px) {
  .part--inner-text {
    -moz-column-count: 4;
         column-count: 4;
  }
}

.portrait {
  display: none;
  order: 1;
}
@media (min-width: 993px) {
  .portrait {
    display: block;
  }
}

@media (min-width: 768px) {
  .portrait__img {
    width: 100%;
    height: auto;
    margin-bottom: 0;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.department__cell {
  display: block;
  margin-bottom: 14px;
}
.department__cell b {
  color: #000000;
  font-family: "Montserrat";
  font-weight: 700;
}

.department__date {
  margin-top: 15px;
  color: #A8A8A8;
  font-size: 13px;
  line-height: 18px;
}

.department--noindent p {
  text-indent: 0;
}

.headline {
  color: #000000;
  font-family: "Montserrat";
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
@media (min-width: 520px) {
  .headline {
    text-align: left;
  }
}

.headline--main {
  font-size: 24px;
}
@media (min-width: 1200px) {
  .headline--main {
    font-size: 40px;
    line-height: 55px;
  }
}

.headline--second {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.headline--second b {
  color: #79a8b0;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .headline--third {
    font-size: 22px;
    line-height: 2;
  }
}

.headline--forth {
  margin-top: 0;
  margin-bottom: 0;
}
.headline--forth b {
  color: #79a8b0;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .headline--forth {
    font-size: 16px;
    line-height: 20px;
  }
}

.headline-fifth {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 1em;
}
@media (min-width: 1200px) {
  .headline-fifth {
    font-size: 14px;
    line-height: 17px;
  }
}

.headline--bio {
  position: relative;
  color: #FFFFFF;
  -moz-column-span: all;
       column-span: all;
  z-index: 1;
}
.headline--bio:first-of-type {
  margin-top: 0;
}
@media (min-width: 520px) {
  .headline--bio::before {
    position: absolute;
    display: block;
    content: "";
    top: 5px;
    left: 0;
    width: calc(100%/3.7);
    height: 30px;
    background-color: #79a8b0;
    z-index: -1;
  }
  .headline--bio::after {
    position: absolute;
    display: block;
    content: "";
    top: 49%;
    right: 0;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(120, 167, 176, 0.541) 10%, #9cebd5 100%);
    background-size: left top/100%;
    background-repeat: no-repeat;
    z-index: -2;
  }
}
@media (min-width: 993px) {
  .headline--bio::before {
    display: none;
  }
  .headline--bio::after {
    display: none;
  }
}
@media (min-width: 1200px) {
  .headline--bio:first-of-type {
    margin-top: 25px;
  }
}

@media (min-width: 993px) {
  .part--inner-headline::before {
    position: absolute;
    display: block;
    content: "";
    top: 5px;
    left: 0;
    width: calc(100%/3.7);
    height: 30px;
    background-color: #79a8b0;
    z-index: -1;
  }
  .part--inner-headline::after {
    position: absolute;
    display: block;
    content: "";
    top: 49%;
    right: 0;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(120, 167, 176, 0.541) 10%, #9cebd5 100%);
    background-size: left top/100%;
    background-repeat: no-repeat;
    z-index: -2;
  }
}

.headline--bio:first-of-type::after {
  display: none;
}

.headline--inner b {
  color: #79a8b0;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .headline--inner {
    font-size: 22px;
    line-height: 27px;
  }
}

.headline--descript b {
  text-transform: none;
}

.headline--job-type {
  font-family: "E-Ukraine", sans-serif;
  margin-bottom: 15px;
  color: #A8A8A8;
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.contact-list {
  padding-left: 0;
}

.contact-list__item {
  list-style-type: none;
  font-family: "Montserrat";
  font-size: 1.1428571429rem;
}
.contact-list__item b {
  font-weight: 700;
  letter-spacing: 0.0535714286rem;
}

.contact-list__link {
  color: #FFFFFF;
}
.contact-list__link:hover {
  color: #FFFFFF;
  opacity: 50%;
}
.contact-list__link:focus {
  color: #FFFFFF;
  opacity: 50%;
}
.contact-list__link:active {
  color: #FFFFFF;
  opacity: 50%;
}

.description-list {
  padding-left: 16px;
}

.description-list__item {
  position: relative;
  list-style-type: none;
}
.description-list__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -16px;
  right: 12px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #595959;
}

.part-list {
  padding-left: 16px;
}

.part-list__item {
  position: relative;
  list-style-type: none;
}
.part-list__item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -16px;
  right: 12px;
  height: 2px;
  width: 8px;
  border-radius: 1px;
  background-color: #FFFFFF;
}

.project-list {
  padding-left: 0;
  counter-reset: num;
}

.project-list__item {
  position: relative;
  list-style-type: none;
}
.project-list__item::before {
  content: counter(num) ".";
  counter-increment: num;
  color: #000000;
  padding-right: 12px;
  font-weight: 700;
}
.project-list__item span {
  color: #000000;
}

.portfolio-card {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 520px) {
  .portfolio-card:nth-child(even) .portfolio-card__frame {
    order: 1;
  }
}
@media (min-width: 520px) {
  .portfolio-card:nth-child(even) .portfolio-card__info {
    order: 2;
  }
}
@media (min-width: 520px) {
  .portfolio-card:nth-child(odd) .portfolio-card__frame {
    order: 2;
    justify-self: flex-end;
  }
}
@media (min-width: 520px) {
  .portfolio-card:nth-child(odd) .portfolio-card__info {
    order: 1;
  }
}
.portfolio-card:hover {
  box-shadow: none;
  transition: all ease-in-out 0.75s;
}
@media (min-width: 520px) {
  .portfolio-card {
    width: calc(100%/2.2 - 20px/2.2);
  }
}
@media (min-width: 994px) {
  .portfolio-card {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
}

.portfolio-card__frame {
  width: 100%;
}
@media (min-width: 994px) {
  .portfolio-card__frame {
    width: calc(100%/2 - 20px/2);
  }
}
@media (min-width: 520px) {
  .portfolio-card__frame img {
    min-height: 100%;
  }
}

.portfolio-description {
  padding: 20px;
}
.portfolio-description p {
  text-indent: 0;
}
@media (min-width: 994px) {
  .portfolio-description {
    width: calc(100%/2.5 - 20px/2.5);
    min-height: 100%;
  }
}

.button {
  position: relative;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  outline: transparent;
  border: transparent;
  box-sizing: border-box;
  cursor: pointer;
}

.button--call-to-action {
  padding: 10px 25px;
  color: #FFFFFF;
  background-color: #1aa985;
  font-size: 0.86rem;
  letter-spacing: 1px;
  line-height: 2;
  border-radius: 60px;
  z-index: 0;
}
.button--call-to-action::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to right bottom, #1aa985 0%, #9cebd5 100%);
  background-size: left top/100%;
  background-repeat: no-repeat;
  border-radius: 60px;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  z-index: -1;
}
.button--call-to-action:hover::before {
  opacity: 0;
}

.button--back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 62px;
  margin-left: 30px;
  padding: 18px 18px;
  color: #FFFFFF;
  background-color: #9cebd5;
  border-radius: 50%;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  z-index: 1000;
}
.button--back-to-top:hover, .button--back-to-top:focus, .button--back-to-top:active {
  background-color: #1aa985;
}

.show {
  opacity: 0.5;
  visibility: visible;
}

.breadcrumb {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding-left: 0;
  font-family: "Montserrat";
  font-weight: 700;
}

.breadcrumb__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 75px;
  list-style-type: none;
}
.breadcrumb__item::after {
  content: "/";
  width: 20px;
}

.breadcrumb__item:last-child {
  text-transform: uppercase;
}
.breadcrumb__item:last-child a {
  color: #000000;
}
.breadcrumb__item:last-child::after {
  content: "";
}

.projects-content {
  display: flex;
  justify-content: space-around;
  row-gap: 35px;
  flex-wrap: wrap;
  margin-top: 30px;
}

@media (min-width: 321px) and (max-width: 992px) {
  .contacts {
    order: 5;
  }
}

@media (min-width: 321px) and (max-width: 992px) {
  .skills {
    order: 2;
  }
}

@media (min-width: 321px) and (max-width: 992px) {
  .software {
    order: 3;
  }
}

.languages--noindent p {
  text-indent: 0;
}

.spoller__title {
  text-align: left;
  background-color: #FFFFFF;
  border: none;
}

.spoller--init .spoller__title {
  position: relative;
  display: flex;
  min-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 10px 10px;
  cursor: pointer;
  background-color: #F5F7FA;
  transition: all ease-in-out 0.75s;
}
.spoller--init .spoller__title:hover, .spoller--init .spoller__title:focus {
  background-color: #FFFFFF;
}
.spoller--init .spoller__title::before, .spoller--init .spoller__title::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 2px;
  right: 10px;
  background-color: #9cebd5;
  transition: transform 0.3s ease 0s;
}
.spoller--init .spoller__title::after {
  transform: rotate(-90deg);
}
.spoller--init .spoller__title.current::after {
  transform: rotate(0deg);
}
.spoller--init .spoller__title:hover::before, .spoller--init .spoller__title:focus::before, .spoller--init .spoller__title:hover::after, .spoller--init .spoller__title:focus::after {
  background-color: #1aa985;
}
.spoller--init .spoller__content {
  padding: 10px 40px 10px 10px;
}

.figures__container {
  max-width: 100%;
  padding-left: 1.07rem;
  padding-right: 1.07rem;
}

.figures__filter-buttons {
  padding-bottom: 2rem;
}

.figure__items {
  width: auto;
  margin: 0 auto;
  transition: all 0.5s;
}

.figure__item {
  position: relative;
  display: block;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 5px 0px;
}
@media (min-width: 767px) {
  .figure__item {
    width: 20rem;
  }
}

.figure__item:not(:last-child) {
  margin-bottom: 1.43rem;
}

.figure__image {
  position: relative;
  display: block;
  margin-bottom: 1.43rem;
  overflow: hidden;
}

.figure__image:hover img {
  transform: scale(1.03);
}

.figure__image img.init {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s;
}

.figure__caption {
  display: grid;
  padding: 1.4285rem;
  box-sizing: border-box;
}

.figure__date {
  color: #000000;
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 300;
}

.figure__title {
  color: #79a8b0;
  font-size: 1.2rem;
}

.figure__text p {
  text-indent: 0;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.filter__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 25px;
  color: #595959;
  background-color: #FFFFFF;
  font-size: 0.86rem;
  letter-spacing: 1px;
  line-height: 2;
  border-radius: 0;
  z-index: 0;
}
.filter__item::after {
  position: absolute;
  content: "";
  bottom: 5px;
  width: 10px;
  height: 4px;
  background-color: #9cebd5;
  border-radius: 2px;
  transition: all 0.3s;
}
.filter__item:hover, .filter__item:focus {
  color: #000000;
}
.filter__item:hover::after, .filter__item:focus::after, .filter__item:active::after {
  width: 50%;
  background-color: #1aa985;
}

.is-chacked {
  color: #000000;
}

.is-chacked::after {
  width: 50%;
  background-color: #1aa985;
}
/*# sourceMappingURL=style.css.map */
